/*Misc Site Modifiers*/

header h1, h2 {
  font-variant: small-caps;
}


/*Navigation Tabs*/

#icon {
  margin-left: 5px;

}

/*Home Page*/

#home {
  background-color: #BFB9B8;
}

/*About Page*/

#about {
  background-color: #BFB9B8;
}

#intlist {
  list-style: none;

}

/*Works Page*/

#works {
  background-color: #BFB9B8;
}

#wh1 {
  margin-left: 45px;
}

#jumbop1 {
  margin-left: 45px;
}

#twh1 {
  margin-left: 45px;
}

/*Carousel in Works Page*/

.carousel {
    height: 300px;
    margin-bottom: 60px;
}
