/*Misc Site Modifiers*/

header h1, h2 {
  font-variant: small-caps;
}

.thumbnail {
  background-color: #EDCECE;
}

.jumbotron {
  background-color: #EDCECE;
}


/*Navigation Tabs*/

#icon {
  margin-left: 5px;

}

a:hover {
  color: black;
}

a:visited {
  color: #FFC4C4;
}

href:active {
  background-color: black;
}


/*Home Page*/

#home {
  background-color: #C24641;
}

div img{
  height: 350px;
}

/*About Page*/

#about {
  background-color: #C24641;
}

#intlist {
  list-style: none;

}

.panel-default > .panel-heading {
  background-color: #EDCECE;
  border-color: #992323;
  color: black;
  font-weight: bold;
}

.panel-default > .panel-body {
  background-color: #EDCECE;
  color: black;

}

/*Works Page*/

#works {
  background-color: #C24641;
}

#wh1 {
  margin-left: 45px;
}

#jumbop1 {
  margin-left: 45px;
  color: black;
}

#twh1 {
  margin-left: 45px;
}

li {
  color: black;
}


/*Carousel in Works Page*/

.carousel {
    height: 300px;
    margin-bottom: 60px;
    background-color: #EDCECE;

}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    background-color: #EDCECE;
  }
